@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";

/* body {
    background-color: #00d1b2;
} */

#search-form,
.card-content,
h1,
a,
p {
    font-family: 'Eater', serif;
    font-family: 'Gabarito', sans-serif;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-family: 'Yanone Kaffeesatz', sans-serif;
}

#navigation {
    background-color: #EFE2CD;
    position: fixed;
    width: 100%;
    top: 0;
    min-height: 120px;
}

#navbarBasicExample {
    padding: 5px;
    align-items: center;
}


a {
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
}

#search-form {
    color: black;
    border: 2px solid;
    border-radius: 10px;
    padding: 5px 10px;
    width: 400px;
}

#input {
    font-size: 20px;
    font-weight: bold;
    padding: 1%;
    margin-left: 10px;

}

#search-button {
    background-color: black;
    color: #fff;
    border: none;
    border-radius: 10px;
    padding: 10px 20px;
    cursor: pointer;
    margin-left: 10px;
    font-size: 16px;

}

main {
    margin-top: 125px;
}

.columns {
    display: flex;
    flex-direction: column;
}

.container-1 {
    background-image: url("pexels-pixabay-372882.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 115vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    ;
}

/* .container-1 img {
    height: 100%;
} */

.intro {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 65%;
    /* opacity: 0; */
}

.intro-content {
    opacity: 0.8;
    width: 50%;
    height: fit-content;
}

.title {
    text-align: center;
    font-style: oblique;
    font-weight: bold;
    font-size: 50px;
}

p {
    font-weight: bold;
    font-size: 30px;
}

.border {
    border: 2px solid gold;

}


.column {
    display: flex;
    flex-direction: row;
    margin: 20px 0;
}

#columnsP2 {
    margin: 20px 0;
    gap: 10px;
}

.container-2 {
    margin-left: 10%;
    margin-top: 2%;
    display: flex;
}

.results-container {
    background-color: black;
    /* margin-top: 14vh; */
    position: relative;
}

#results {
    border-style: double;
    border-radius: 13px;
    border-color: #00d1b2;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.card {
    background-color: #EFE2CD;
    width: 385px;
    padding: 20px;
    border: 3px solid;
    border-radius: 13px;
    border-color: #00d1b2;
}

.row {
    flex-direction: row;
}

.card-content {
    /* flex: 1;
    border-style: inset;
    border-color: black;
    text-align: center;
    margin-bottom: 20px;
    width: 25%;
    max-width: 500px; */
    border-style: inset;
    border-color: black;
    margin-bottom: 20px;
    padding: 10px;
    text-align: center;
    /*height: 100%; */
    height: 200px;
    overflow-y: auto;
    margin-bottom: 20px;
}

.card-styles {
    border-style: groove;
    border-color: black;
    padding: 5px;
}

div iframe {
    justify-content: center;
    text-align: center;
}

.footer {
    background-color: #EFE2CD;
    bottom: 0;
    width: 100%;
    height: 2.5rem;
    /* Footer height */
}