
@import "https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css";



.container-1 {
    /* min-height: 70vh; */
   position: relative;
   height: fit-content;
}

.intro {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    /* opacity: 0; */
}

.intro-content {
    opacity: 1;
    background-color: aqua;
    width: 50%;
    height: fit-content;
}

.border {
    border: 2px solid gold;

}
 /* .container-2 {
    width: 50%;
    margin-left: 50%;
    border-style: double;
    border-radius: 1%;
    border-color: black;
}  */

.card-content {
    border-style: inset;
    border-color: crimson;
    border-radius: 15%;
}
.card-styles {
    border-style: groove;
    border-color: black;
    padding: 5px;
 
}

